body {
  font-family: "Work Sans", sans-serif;
}
/* comon CSS */
.colortwo {
  color: #424242;
  font-weight: 500;
}
.colorthree {
  color: #727272;
  font-weight: 500;
}
.btn {
  padding: 20px 25px;
  border-radius: 8px;
  background-color: #ff900e;
  border: none;
  font-weight: 800;
  font-size: 20px;
  color: white;
}

header {
  background: rgba(255, 144, 14, 0.1);
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 71%;
  margin: auto;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
}
header nav h1 {
  font-size: 45px;
  font-weight: 900;
}

/* baner css stary */
.benar {
  width: 71%;
  margin: auto;
}
.benar .benartxt {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.benar .benartxt h1 {
  font-size: 64px;
  font-weight: 900;
}
.benar .benartxt p {
  font-size: 16px;
}
.benar .img img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 95%;
    margin: auto;
  }
  .benar {
    width: 95%;
    margin: auto;
  }
  .benar .benartxt h1 {
    font-size: 40px;
    font-weight: 700;
  }
}
