body {
  font-family: "Work Sans", sans-serif;
}
/* comon CSS */
.colortwo {
  color: #424242;
  font-weight: 500;
}

header {
  background: rgba(255, 144, 14, 0.1);
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 71%;
  margin: auto;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
}
header nav h1 {
  font-size: 45px;
  font-weight: 900;
}

@media screen and (max-width: 576px) {
  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 95%;
    margin: auto;
  }
}
